<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Info</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>

    <section class="container" >
      
      <p>ID: <%= meme %></p>
      <p>Name: <%= meme.name %></p>
      <p>ID: <%= meme.width %> - <%= meme.height %></p>
      <p>Name: <%= meme.url %></p>
      

    </section>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>